.bannerPrincipal {
    align-items: flex-start;
    align-self: stretch;
    background-image: url(../img/banner-image.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-end;
    padding: 1rem;
}

.bannerPrincipal__titulo {
    align-self: stretch;
    color: #FFFFFF;
    flex-grow: 0;
    font-family: 'Raleway', Arial,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin: 8px 0px;
}

.bannerPrincipal__descuento {
    align-self: stretch;
    color: #FFFFFF;
    flex-grow: 0;
    flex: none;
    font-family: 'Raleway', Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    margin: 8px 0px;
}

.principal__boton {
    align-items: center;
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;    
    color: #FFFFFF;
    flex-direction: row;
    padding: 1rem 2rem;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
