.galeriaProductos__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.galeriaProductos__header--titulo {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.galeriaProductos__header--mas {
    align-items: center;
    display: flex;
}

.galeriaProductos__verTodo {
    color: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.galeriaProductos__starWars-items {

}

.producto__nombre {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.producto__precio {
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}