body {
    font-family: 'Raleway', Arial,sans-serif;
}

.header {
    background-color: #FFFFFF;
    padding: 20px 0;
}

.container {
	margin: 0 auto;
}

.header__boton {
    font-weight: "semi bold";
	font-size: 14px;
    text-decoration: none;
}